*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 65%;

    @media (max-width: 1250px) {
        font-size: 62.5%;
    }
    @media (max-width: 1150px) {
        font-size: 60.5%;
    }
    @media (max-width: 1050px) {
        font-size: 58.5%;
    }
    @media (max-width: 950px) {
        font-size: 56.5%;
    }
    @media (max-width: 850px) {
        font-size: 55.5%;
    }
    @media (max-width: 750px) {
        font-size: 53.5%;
    }
    @media (max-width: 650px) {
        font-size: 51.5%;
    }
    @media (max-width: 550px) {
        font-size: 49.5%;
    }
    @media (max-width: 450px) {
        font-size: 47.5%;
    }
    @media (max-width: 350px) {
        font-size: 45.5%;
    }
}

body {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    line-height: 1.2;
    color: $text-color-primary;
    font-size: 1.5rem;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 7rem repeat(10, 1fr) 7rem;
}

p {
    font-size: 1.7rem;
}

.row {
    grid-column: 1 / -1;
    display: grid;
}

.row-inset {
    justify-self: center;
    width: 80%;
    display: grid;
}

// Margins

.mt-05 {
    margin-top: 0.5rem;
}
.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.ml-2 {
    margin-left: 2rem;
}

.ml-3 {
    margin-left: 3rem;
}

.ml-4 {
    margin-left: 4rem;
}

// PADDING

.p-s {
    padding: 1rem 2rem;
}

.p-m {
    padding: 1.5rem 3rem;
}

.pt-3 {
    padding-top: 3rem;
}
// Grid

.ds-g {
    display: grid;
}

.gc-full {
    grid-column: 1 / -1;
}

.gtc-1 {
    grid-template-columns: 1fr;
}

.gtc-1-1 {
    grid-template-columns: 1fr 1fr;
}

.gtc-1-2 {
    grid-template-columns: 1fr 2fr;
}

.gtc-2-1 {
    grid-template-columns: 2fr 1fr;
}

.js-c {
    justify-self: center;
}

.as-c {
    align-self: center;
}

.gg-1 {
    grid-gap: 1rem;
}

.w-80 {
    width: 80%;
}

// Height

.h-7 {
    height: 7rem;
}

.h-8 {
    height: 8rem;
}

.h-10 {
    height: 10rem;
}

.h-11 {
    height: 11rem;
}

.h-15 {
    height: 15rem;
}

.h-20 {
    height: 20rem;
}
.h-25 {
    height: 25rem;
}
.h-30 {
    height: 30rem;
}

.h-35 {
    height: 35rem;
}

.h-40 {
    height: 40rem;
}

.h-45 {
    height: 45rem;
}

.h-50 {
    height: 50rem;
}

//Width

.w-10 {
    width: 10rem;
}

.w-35 {
    width: 35rem;
}

.w-40 {
    width: 40rem;
}

// TEXT

.ta-c {
    text-align: center;
}

//BOX SHADOW

.bs {
    box-shadow: $box-shadow;
}

.bs-l {
    box-shadow: $box-shadow-light;
}
