// FLIP CARD

.card-container {
    padding: 2rem 3rem;
    perspective: 900;

    .card {
        height: 30rem;
        border-radius: 10px;
        transition: all 0.6s ease;
        transform-style: preserve-3d;

        position: relative;

        &:hover {
            transform: rotateY(180deg);
        }

        .front,
        .back {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            background: $grey1;
            box-shadow: $box-shadow-light;
            border: 2px solid $primary;

            display: grid;
        }

        .front {
            background: linear-gradient(to top right, $grey1 50%, $grey5);
            padding-top: 1rem;
            i {
                margin-top: 1rem;
                font-size: 9rem;
                color: $primary;
                justify-self: center;
            }

            h3 {
                font-size: 3rem;
                color: $grey6;
                // margin-top: -5rem;
                justify-self: center;
            }
            p {
                padding: 0 2rem;
                font-size: 1.7rem;
                text-align: center;
            }
        }

        .back {
            transform: rotateY(180deg);
            background: linear-gradient(to top right, $grey1 50%, $grey5);
            padding-top: 1rem;

            h4 {
                font-size: 2rem;
                color: $grey6;
                justify-self: center;
            }

            .house {
                // margin-top: rem;
                height: 10rem;
                padding-left: 2rem;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: 3rem;
                justify-content: center;

                h5 {
                    font-size: 1.4rem;
                    color: $grey5;
                }
            }

            .garden {
                padding-left: 2rem;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: 3rem;

                h5 {
                    font-size: 1.4rem;
                }
            }

            .design {
                padding-left: 2rem;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: 3rem;

                h5 {
                    font-size: 1.4rem;
                }
            }

            .arts {
                padding-left: 2rem;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: 3rem;

                h5 {
                    font-size: 1.4rem;
                }
            }
        }
    }
}

// BUTTONS

// Buttons

.btn {
    color: $grey1;
    background-color: $primary;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 2rem;
    z-index: 15;
    text-decoration: none;

    &:hover {
        background-color: $grey1;
        color: $primary;
        border: $grey4 1px solid;
        cursor: pointer;
    }
}

// BANNERS

.banner-small {
    grid-column: 1 / -1;
    height: 15rem;
    position: relative;

    display: grid;

    background: url("/images/welcome.jpg");
    background-position: center;
    background-size: cover;

    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
            to right bottom,
            rgba(7, 8, 9, 0.7),
            rgba(8, 9, 10, 0.7)
        );
    }

    h1 {
        justify-self: center;
        align-self: center;
        font-size: 7rem;
        color: $primary;
        z-index: 2;

        span {
            color: $grey1;
            font-family: "Great Vibes";
            letter-spacing: 10px;
        }
    }
}
