.diy-heading-container {
    grid-column: 1 / -1;
    display: grid;
    background-color: $grey2;
    // height: 10rem;

    .diy-heading {
        justify-self: center;
        width: 80%;
        display: grid;
        margin-top: 2rem;

        h1 {
            margin-top: 2rem;
            margin-bottom: 1rem;
            font-size: 3rem;
            justify-self: center;

            @media (max-width: 700px) {
                font-size: 3rem;
            }
            @media (max-width: 600px) {
                font-size: 2.7rem;
            }
        }

        p {
            justify-self: center;
            font-size: 2rem;
        }
    }
}

.diy-1-container {
    grid-column: 1 / -1;
    display: grid;
    // height: 35rem;
    background-color: $grey2;

    .diy-1 {
        width: 80%;
        justify-self: center;
        display: grid;
        grid-template-columns: 1fr 2fr;
        // height: 30rem;
        margin-top: 2rem;
        margin-bottom: 2rem;

        @media (max-width: 1000px) {
            grid-template-columns: 1fr;
            width: 85%;
        }
        @media (max-width: 800px) {
            width: 95%;
        }

        @media (max-width: 600px) {
            // height: 33rem;
        }

        &-img {
            height: 30rem;
            display: grid;
            background-color: $primary;

            @media (max-width: 1000px) {
                width: 60%;
                justify-self: center;
                margin-bottom: 2rem;
            }
            @media (max-width: 800px) {
                width: 65%;
            }
            @media (max-width: 600px) {
                width: 70%;
            }
            @media (max-width: 500px) {
                width: 80%;
            }
            @media (max-width: 450px) {
                width: 90%;
            }

            img {
                height: 25rem;
                width: 35rem;
                justify-self: center;
                align-self: center;
                box-shadow: $box-shadow;
                transform: translateX(5rem);

                @media (max-width: 1000px) {
                    transform: translateX(0) translateY(4rem);
                }
            }
        }

        &-text {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 1fr;
            box-shadow: $box-shadow-light;
            background-color: $grey3;
            transform: translateX(5rem);

            @media (max-width: 1000px) {
                width: 80%;
                justify-self: center;
                transform: translateX(0) translateY(2rem);
                margin-bottom: 2rem;
            }

            @media (max-width: 450px) {
                margin-bottom: 1rem;
            }

            &-left {
                margin-top: 1rem;
                border-right: 2px dashed $primary;

                @media (max-width: 1000px) {
                    margin-bottom: 2rem;
                }

                h3 {
                    text-align: center;
                    margin-top: 1rem;
                }

                ul {
                    margin-left: 4rem;
                    padding-top: 3rem;

                    li {
                        margin-top: 0.5rem;
                    }
                }
            }

            &-right {
                margin-top: 1rem;

                @media (max-width: 1000px) {
                    margin-bottom: 2rem;
                }
                h3 {
                    text-align: center;
                    margin-top: 1rem;
                }

                ul {
                    margin-left: 4rem;
                    padding-top: 3rem;

                    li {
                        margin-top: 0.5rem;
                    }
                }
            }
        }
    }
}

.diy-2-container {
    grid-column: 1 / -1;
    display: grid;
    // height: 35rem;
    background-color: $grey2;

    .diy-2 {
        justify-self: center;
        display: grid;
        grid-template-columns: 2fr 1fr;
        width: 80%;
        //height: 30rem;
        margin-top: 1rem;
        margin-bottom: 2rem;

        @media (max-width: 1000px) {
            grid-template-columns: 1fr;
            margin-top: 4rem;
            width: 85%;
            margin-bottom: 3rem;
            margin-top: 0;
        }
        @media (max-width: 800px) {
            width: 95%;
            margin-bottom: 7rem;
        }

        @media (max-width: 600px) {
            // height: 33rem;
        }

        &-text {
            display: grid;
            grid-template-columns: 1fr 1fr;
            box-shadow: $box-shadow-light;
            background-color: $grey4;
            transform: translateX(-5rem);

            @media (max-width: 1000px) {
                grid-row: 2 / 3;
                width: 80%;
                justify-self: center;
                transform: translateX(0) translateY(2rem);
                margin-top: 2rem;
            }

            &-left,
            &-right {
                border-right: 2px dashed $primary;

                @media (max-width: 1000px) {
                    margin-bottom: 2rem;
                }

                h3 {
                    text-align: center;
                    margin-top: 1rem;
                }

                ul {
                    margin-left: 4rem;
                    padding-top: 3rem;

                    li {
                        margin-top: 0.5rem;
                    }
                }
            }
        }

        &-img {
            height: 30rem;
            display: grid;
            background-color: $primary-dark;

            @media (max-width: 1000px) {
                grid-row: 1 / 2;
                width: 60%;
                justify-self: center;
            }
            @media (max-width: 800px) {
                width: 65%;
            }
            @media (max-width: 600px) {
                width: 70%;
            }
            @media (max-width: 500px) {
                width: 80%;
            }
            @media (max-width: 450px) {
                width: 90%;
            }

            img {
                height: 25rem;
                width: 35rem;
                justify-self: center;
                align-self: center;
                box-shadow: $box-shadow;
                transform: translateX(-5rem);

                @media (max-width: 1000px) {
                    transform: translateX(0) translateY(4rem);
                }
            }
        }
    }
}
