.diy-heading-container {
    grid-column: 1 / -1;
    display: grid;
    background-color: $grey2;
    height: 10rem;

    .diy-heading {
        justify-self: center;
        width: 80%;
        display: grid;
        margin-top: 2rem;

        h1 {
            justify-self: center;
        }

        p {
            justify-self: center;
            font-size: 2rem;
        }
    }
}

.diy-1-container {
    grid-column: 1 / -1;
    display: grid;
    height: 35rem;
    background-color: $grey2;

    .diy-1 {
        width: 80%;
        justify-self: center;
        display: grid;
        grid-template-columns: 1fr 2fr;
        height: 30rem;
        margin-top: 2rem;

        &-img {
            height: 30rem;
            display: grid;
            background-color: $primary;

            img {
                height: 25rem;
                width: 35rem;
                justify-self: center;
                align-self: center;
                box-shadow: $box-shadow;
                transform: translateX(5rem);
            }
        }

        &-text {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 1fr;
            box-shadow: $box-shadow-light;
            background-color: $grey3;
            transform: translateX(5rem);

            &-left {
                margin-top: 1rem;
                border-right: 2px dashed $primary;

                h3 {
                    text-align: center;
                    margin-top: 1rem;
                }

                ul {
                    margin-left: 4rem;
                    padding-top: 3rem;

                    li {
                        margin-top: 0.5rem;
                    }
                }
            }

            &-right {
                margin-top: 1rem;
                h3 {
                    text-align: center;
                    margin-top: 1rem;
                }

                ul {
                    margin-left: 4rem;
                    padding-top: 3rem;

                    li {
                        margin-top: 0.5rem;
                    }
                }
            }
        }
    }
}

.diy-2-container {
    grid-column: 1 / -1;
    display: grid;
    height: 35rem;
    background-color: $grey2;

    .diy-2 {
        justify-self: center;
        display: grid;
        grid-template-columns: 2fr 1fr;
        width: 80%;
        height: 30rem;
        margin-top: 1rem;

        &-text {
            display: grid;
            grid-template-columns: 1fr 1fr;
            box-shadow: $box-shadow-light;
            background-color: $grey4;
            transform: translateX(-5rem);

            &-left,
            &-right {
                border-right: 2px dashed $primary;

                h3 {
                    text-align: center;
                    margin-top: 1rem;
                }

                ul {
                    margin-left: 4rem;
                    padding-top: 3rem;

                    li {
                        margin-top: 0.5rem;
                    }
                }
            }
        }

        &-img {
            height: 30rem;
            display: grid;
            background-color: $primary-dark;

            img {
                height: 25rem;
                width: 35rem;
                justify-self: center;
                align-self: center;
                box-shadow: $box-shadow;
                transform: translateX(-5rem);
            }
        }
    }
}
