.diy-heading-container {
    background-color: $grey2;

    p {
        font-size: 2rem;
    }
}

.diy-1-container {
    background-color: $grey2;

    .diy-1 {
        &-img {
            background-color: $primary;

            img {
                transform: translateX(5rem);
            }
        }

        &-text {
            background-color: $grey3;
            transform: translateX(5rem);

            &-left {
                border-right: 2px dashed $primary;
            }
        }
    }
}

.diy-2-container {
    background-color: $grey2;

    .diy-2 {
        &-text {
            background-color: $grey4;
            transform: translateX(-5rem);

            &-left {
                border-right: 2px dashed $primary;
            }
        }

        &-img {
            background-color: $primary-dark;

            img {
                transform: translateX(-5rem);
            }
        }
    }
}
