.footer-container {
    grid-column: 1 / -1;
    height: 20rem;
    background-color: $primary;
    display: grid;

    .footer {
        justify-self: center;
        width: 90%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
