.header {
    position: sticky;
    top: 0;
    left: 0;
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 0.75fr 0.25fr 3.5fr 0.25fr 3fr 0.25fr;
    height: 7rem;
    z-index: 100;
    background-color: $grey1;

    @media (max-width: 1275px) {
        grid-template-columns: 0.5fr 0.15fr 3fr 0.15fr 3fr 0.15fr;
    }

    .logo {
        align-self: center;
        justify-self: center;
        height: inherit;
        z-index: 100;

        img {
            padding-left: 2.5rem;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            height: 100%;
            width: auto;
        }
    }

    .nav-divider-1 {
        height: inherit;
        margin-right: -4.5rem;

        svg {
            width: inherit;
            height: inherit;
        }
    }

    .slogan {
        // align-self: center;
        justify-self: center;
        color: $grey1;
        background: $primary;
        padding: 0rem 2rem;
        z-index: 10;

        @media (max-width: 1150px) {
            padding: 0rem 1rem;
        }

        @media (max-width: 515px) {
            padding: 0;
        }

        p {
            padding: 1.3rem 2rem;
            margin-bottom: -2rem;
            font-size: 1.4rem;
            z-index: 10;

            @media (max-width: 1150px) {
                padding: 1rem 1rem;
            }

            @media (max-width: 850px) {
                visibility: hidden;
            }

            @media (max-width: 515px) {
                padding: 0;
                martin-bottom: 0;
                font-size: 0.025rem;
            }

            i {
                margin-right: 0.5rem;
            }
        }
    }

    .nav-divider-2 {
        height: inherit;
        margin-left: -4.5rem;

        svg {
            width: inherit;
            height: inherit;
        }
    }

    .nav {
        align-self: center;
        justify-self: center;
        // display: grid;
        // grid-template-columns: repeat(4, 1fr);
        // padding-right: 3rem;
        z-index: 10;
        color: $primary;
        position: relative;

        .menu {
            display: none;

            &:active {
                outline: none;
            }

            &:focus {
                outline: none;
            }

            @media (max-width: 900px) {
                display: inline-block;
                font-size: 2rem;
            }

            i {
                margin-left: 1rem;
            }
        }

        li {
            list-style: none;
            display: inline-block;

            @media (max-width: 900px) {
                display: none;
            }

            a {
                text-decoration: none;
                text-transform: uppercase;
                // padding-left: 1.5rem;
                // padding-right: 1.5rem;
                padding: 3rem 2rem;
                color: $grey6;

                @media (max-width: 1150px) {
                    padding: 3rem 1.5rem;
                }
                @media (max-width: 1000px) {
                    padding: 3rem 1rem;
                }

                &:visited {
                    color: $grey6;
                }

                &:hover {
                    color: $primary;
                    padding-bottom: 1rem;
                    border-bottom: 2px solid $primary;
                }

                i {
                    font-size: 1.5rem;
                }
            }
        }
    }
    .nav-divider-3 {
        height: inherit;
        // margin-left: -4.5rem;

        svg {
            width: inherit;
            height: inherit;
        }
    }
}

.dropdown-nav {
    display: none;
    width: 100%;
    position: fixed;
    background-color: $primary;
    // height: 30%;
    top: 7rem;
    right: 0rem;
    border-radius: 0px 0px 10px 10px;
    z-index: 100;

    @media (max-width: 900px) {
        display: none;
    }

    &-item {
        margin-top: 1rem;
        margin-bottom: 1rem;
        // justify-self: center;
        display: inline-block;
        list-style: none;
        width: 100%;
        // width: 100%;
        // margin: 0
    }

    &-link {
        text-align: center;
        text-decoration: none;
        padding: 1rem 0rem;
        display: inline-block;
        width: 100%;
        color: $grey1;
        font-size: 1.7rem;

        @media (max-width: 820px) {
            // padding: 1rem 35rem;
        }

        &:hover {
            background-color: $primary-dark;
        }
    }

    &:active,
    &:focus {
        display: none;
    }
}

.dropdown {
    position: relative;

    &:hover .dropdown-content {
        display: block;
    }
}

.dropdown-content {
    display: none;
    position: fixed;
    width: 15%;
    top: 7rem;
    right: 32rem;
    background-color: $primary;

    a {
        display: inline-block;

        &:hover {
            color: $grey2;
            cursor: pointer;
        }
    }
}
