// $background-main: rgba(55, 255, 255, 0.8);

// $color-primary-dark: rgb(204, 150, 95);
// $color-primary-light: rgba(218, 186, 154, 0.199);
// $color-primary-lightest: rgba(218, 186, 154, 0.103);
$box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
$box-shadow-light: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
// // $text-color-primary: rgb(76, 23, 122);
// $text-color-primary: rgb(30, 107, 47);
// $text-shadow-light: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);

$text-color-primary: black;
$text-color-secondary: rgb(255, 66, 18);
$background-grey: rgb(239, 239, 245);

$grey1: #f8f8f8;
$grey2: #e8e8e8;
$grey3: #d3d3d3;
$grey4: #b8b8b8;
$grey5: #989898;
$grey6: #2f4f4f;

$primary: rgb(248, 149, 57);
$primary-dark: rgb(222, 111, 8);
$primary-dark-2: rgb(172, 86, 6);
