.wood-heading-container {
    grid-column: 1 / -1;
    display: grid;
    background-color: $grey2;

    .wood-heading {
        justify-self: center;
        width: 80%;
        display: grid;
        // height: 10rem;
        background-color: $grey2;

        h1 {
            margin-top: 2rem;
            font-size: 3.5rem;
            justify-self: center;

            @media (max-width: 700px) {
                font-size: 3rem;
            }
            @media (max-width: 600px) {
                font-size: 2.7rem;
            }
        }

        p {
            justify-self: center;
            font-size: 2rem;

            @media (max-width: 700px) {
                font-size: 1.6rem;
            }
        }
    }
}

.wood-1-container {
    grid-column: 1 / -1;
    display: grid;
    background-color: $grey2;
    height: 35rem;

    .wood-1 {
        justify-self: center;
        width: 80%;
        display: grid;
        margin-top: 2rem;
        height: 30rem;

        grid-template-columns: 1fr 2fr;

        @media (max-width: 1000px) {
            grid-template-columns: 1fr;
        }

        &-img {
            background-color: $primary;
            display: grid;
            box-shadow: $box-shadow;
            img {
                align-self: center;
                justify-self: center;
                height: 25rem;
                width: 35rem;
                transform: translateX(5rem);
                z-index: 5;
            }
        }

        &-text {
            display: grid;
            transform: translateX(5rem);
            background-color: $grey4;
            box-shadow: $box-shadow-light;

            p {
                justify-self: center;
                align-self: center;
                padding: 0rem 3rem;
                font-size: 2rem;
            }
        }
    }
}

.wood-2-container {
    grid-column: 1 / -1;
    display: grid;
    height: 35rem;
    background-color: $grey2;

    .wood-2 {
        justify-self: center;
        width: 80%;
        display: grid;
        grid-template-columns: 2fr 1fr;
        height: 30rem;

        &-text {
            display: grid;
            background-color: $grey5;
            transform: translateX(-5rem);
            box-shadow: $box-shadow-light;

            p {
                justify-self: center;
                align-self: center;
                padding: 0rem 3rem;
                font-size: 2rem;
            }
        }

        &-img {
            background-color: $primary-dark;
            display: grid;
            img {
                align-self: center;
                justify-self: center;
                height: 25rem;
                width: 35rem;
                transform: translateX(-5rem);
                z-index: 5;
                box-shadow: $box-shadow;
            }
        }
    }
}

.wood-3-container {
    grid-column: 1 / -1;
    display: grid;
    background-color: $grey2;
    height: 35rem;

    .wood-3 {
        justify-self: center;
        width: 80%;
        height: 30rem;

        display: grid;
        grid-template-columns: 1fr 2fr;

        &-img {
            background-color: $primary;
            display: grid;
            img {
                align-self: center;
                justify-self: center;
                height: 25rem;
                width: 35rem;
                transform: translateX(5rem);
                z-index: 5;
                box-shadow: $box-shadow;
            }
        }

        &-text {
            display: grid;
            transform: translateX(5rem);
            background-color: $grey4;
            box-shadow: $box-shadow-light;

            p {
                justify-self: center;
                align-self: center;
                padding: 0rem 3rem;
                font-size: 2rem;

                span {
                    color: $grey1;
                }
            }
        }
    }
}
