.wood-heading-container {
    background-color: $grey2;

    .wood-heading {
        height: 10rem;
        background-color: $grey2;

        h1 {
            margin-top: 2rem;
            font-size: 3.5rem;
            justify-self: center;
        }

        p {
            justify-self: center;
            font-size: 2rem;
        }
    }
}

.wood-1-container {
    background-color: $grey2;
    height: 35rem;

    .wood-1 {
        margin-top: 2rem;
        height: 30rem;

        display: grid;
        grid-template-columns: 1fr 2fr;

        &-img {
            background-color: $primary;
            display: grid;
            img {
                align-self: center;
                justify-self: center;
                height: 25rem;
                width: 35rem;
                transform: translateX(5rem);
                z-index: 5;
            }
        }

        &-text {
            display: grid;
            transform: translateX(5rem);
            background-color: $grey4;

            p {
                justify-self: center;
                align-self: center;
                padding: 0rem 3rem;
                font-size: 2rem;
            }
        }
    }
}

.wood-2-container {
    height: 35rem;
    background-color: $grey2;

    .wood-2 {
        grid-template-columns: 2fr 1fr;
        height: 30rem;

        &-text {
            display: grid;
            background-color: $grey5;
            transform: translateX(-5rem);

            p {
                justify-self: center;
                align-self: center;
                padding: 0rem 3rem;
                font-size: 2rem;
            }
        }

        &-img {
            background-color: $primary-dark;
            display: grid;
            img {
                align-self: center;
                justify-self: center;
                height: 25rem;
                width: 35rem;
                transform: translateX(-5rem);
                z-index: 5;
            }
        }
    }
}

.wood-3-container {
    background-color: $grey2;
    height: 35rem;

    .wood-3 {
        height: 30rem;

        display: grid;
        grid-template-columns: 1fr 2fr;

        &-img {
            background-color: $primary;
            display: grid;
            img {
                align-self: center;
                justify-self: center;
                height: 25rem;
                width: 35rem;
                transform: translateX(5rem);
                z-index: 5;
            }
        }

        &-text {
            display: grid;
            transform: translateX(5rem);
            background-color: $grey4;

            p {
                justify-self: center;
                align-self: center;
                padding: 0rem 3rem;
                font-size: 2rem;

                span {
                    color: $grey1;
                }
            }
        }
    }
}
