@import url(https://fonts.googleapis.com/css?family=Nunito);*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 65%;
}

@media (max-width: 1250px) {
  html {
    font-size: 62.5%;
  }
}

@media (max-width: 1150px) {
  html {
    font-size: 60.5%;
  }
}

@media (max-width: 1050px) {
  html {
    font-size: 58.5%;
  }
}

@media (max-width: 950px) {
  html {
    font-size: 56.5%;
  }
}

@media (max-width: 850px) {
  html {
    font-size: 55.5%;
  }
}

@media (max-width: 750px) {
  html {
    font-size: 53.5%;
  }
}

@media (max-width: 650px) {
  html {
    font-size: 51.5%;
  }
}

@media (max-width: 550px) {
  html {
    font-size: 49.5%;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 47.5%;
  }
}

@media (max-width: 350px) {
  html {
    font-size: 45.5%;
  }
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  color: black;
  font-size: 1.5rem;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 7rem repeat(10, 1fr) 7rem;
}

p {
  font-size: 1.7rem;
}

.row {
  grid-column: 1/-1;
  display: grid;
}

.row-inset {
  justify-self: center;
  width: 80%;
  display: grid;
}

.mt-05 {
  margin-top: 0.5rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.ml-2 {
  margin-left: 2rem;
}

.ml-3 {
  margin-left: 3rem;
}

.ml-4 {
  margin-left: 4rem;
}

.pt-3 {
  padding-top: 3rem;
}

.ds-g {
  display: grid;
}

.gc-full {
  grid-column: 1/-1;
}

.gtc-1 {
  grid-template-columns: 1fr;
}

.gtc-1-1 {
  grid-template-columns: 1fr 1fr;
}

.gtc-1-2 {
  grid-template-columns: 1fr 2fr;
}

.gtc-2-1 {
  grid-template-columns: 2fr 1fr;
}

.js-c {
  justify-self: center;
}

.as-c {
  align-self: center;
}

.gg-1 {
  grid-gap: 1rem;
}

.w-80 {
  width: 80%;
}

.h-10 {
  height: 10rem;
}

.h-15 {
  height: 15rem;
}

.h-20 {
  height: 20rem;
}

.h-25 {
  height: 25rem;
}

.h-30 {
  height: 30rem;
}

.h-35 {
  height: 35rem;
}

.w-10 {
  width: 10rem;
}

.w-35 {
  width: 35rem;
}

.w-40 {
  width: 40rem;
}

.ta-c {
  text-align: center;
}

.bs {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.bs-l {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 0.75fr 0.25fr 3.5fr 0.25fr 3fr 0.25fr;
  height: 7rem;
  z-index: 100;
  background-color: #f8f8f8;
}

.header .logo {
  align-self: center;
  justify-self: center;
  height: inherit;
  z-index: 100;
}

.header .logo img {
  padding-left: 2.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  height: 100%;
  width: auto;
}

.header .nav-divider-1 {
  height: inherit;
  margin-right: -4.5rem;
}

.header .nav-divider-1 svg {
  width: inherit;
  height: inherit;
}

.header .slogan {
  justify-self: center;
  color: #f8f8f8;
  background: #f89539;
  padding-right: 2rem;
  padding-left: 2rem;
}

.header .slogan p {
  padding: 1.3rem 2rem;
  margin-bottom: -2rem;
  font-size: 1.4rem;
}

.header .slogan p i {
  margin-right: 0.5rem;
}

.header .nav-divider-2 {
  height: inherit;
  margin-left: -4.5rem;
}

.header .nav-divider-2 svg {
  width: inherit;
  height: inherit;
}

.header .nav {
  align-self: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  z-index: 10;
  color: #f89539;
}

.header .nav li {
  list-style: none;
}

.header .nav li a {
  text-decoration: none;
  text-transform: uppercase;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  color: #2f4f4f;
}

.header .nav li a:visited {
  color: #2f4f4f;
}

.header .nav li a:hover {
  color: #f89539;
  padding-bottom: 1rem;
  border-bottom: 2px solid #f89539;
}

.header .nav li a i {
  font-size: 1.5rem;
}

.header .nav-divider-3 {
  height: inherit;
}

.header .nav-divider-3 svg {
  width: inherit;
  height: inherit;
}

.banner {
  grid-column: 1/-1;
  height: 60rem;
  background: url("/images/Welcome.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
  margin-top: -1rem;
  z-index: -1;
  display: grid;
}

.banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to right bottom, rgba(7, 8, 9, 0.7), rgba(8, 9, 10, 0.7));
}

.banner .title_1 {
  margin-top: 7rem;
  font-family: "Great Vibes";
  justify-self: center;
  color: #f8f8f8;
  z-index: 2;
  font-size: 11.5rem;
  font-weight: 500;
  letter-spacing: 0.5rem;
  -webkit-transform: rotate(-18deg) translateY(5.5rem) translateX(-0.7rem);
          transform: rotate(-18deg) translateY(5.5rem) translateX(-0.7rem);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.8);
}

.banner .title_2 {
  font-size: 10.5rem;
  font-weight: 300;
  letter-spacing: 0.5rem;
  justify-self: center;
  color: #f89539;
  z-index: 2;
  margin-top: -2rem;
  margin-left: -1rem;
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.8);
}

.banner h3 {
  justify-self: center;
  font-size: 4rem;
  font-weight: 300;
  letter-spacing: 1rem;
  color: #f8f8f8;
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.8);
  margin-top: 2rem;
  z-index: 2;
  -webkit-animation-name: moveInLeft;
          animation-name: moveInLeft;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }

  80% {
    -webkit-transform: translateX(2rem);
            transform: translateX(2rem);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }

  80% {
    -webkit-transform: translateX(2rem);
            transform: translateX(2rem);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.overview-container {
  grid-column: 1/-1;
  background: #e8e8e8;
  height: 50rem;
  display: grid;
}

.overview-container .overview {
  margin-top: 3rem;
  justify-self: center;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1rem;
}

.overview-container .overview h1 {
  text-transform: capitalize;
  grid-column: 1/-1;
  justify-self: center;
  color: #2f4f4f;
}

.services-divider {
  grid-column: 1/-1;
  margin-top: -2rem;
  z-index: 1;
  width: 100vw;
}

.services-divider svg {
  width: inherit;
  height: inherit;
}

.services-heading-container {
  grid-column: 1/-1;
  margin-top: -4rem;
  height: 12rem;
  background-color: #f89539;
  display: grid;
}

.services-heading-container .services-heading {
  justify-self: center;
  z-index: 3;
}

.services-heading-container .services-heading h1 {
  color: #f8f8f8;
  text-transform: capitalize;
  font-size: 8rem;
  font-family: "Great Vibes";
  letter-spacing: 3px;
}

.services-heading-container .services-heading h1::before,
.services-heading-container .services-heading h1::after {
  content: "-";
  padding: 1rem;
}

.services-container {
  grid-column: 1/-1;
  height: 90rem;
  background-color: #989898;
  display: grid;
}

.services-container .services {
  justify-self: center;
  width: 80%;
  height: 80rem;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1rem;
}

.services-container .services-wood,
.services-container .services-diy,
.services-container .services-advice,
.services-container .services-fuel {
  height: 40rem;
  margin: 1rem 2rem;
  padding: 1rem 1rem;
  background: linear-gradient(to top, #f8f8f8 30%, #989898);
  display: grid;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.services-container .services-wood img,
.services-container .services-diy img,
.services-container .services-advice img,
.services-container .services-fuel img {
  height: 20rem;
  width: 30rem;
  justify-self: center;
  margin-bottom: -2rem;
}

.services-container .services-wood h2,
.services-container .services-diy h2,
.services-container .services-advice h2,
.services-container .services-fuel h2 {
  -webkit-transform: translateY(-5rem);
          transform: translateY(-5rem);
  justify-self: center;
  width: 20rem;
  border-radius: 0px;
  text-align: center;
  padding-top: 1rem;
  height: 4rem;
}

.services-container .services-wood p,
.services-container .services-diy p,
.services-container .services-advice p,
.services-container .services-fuel p {
  text-align: center;
  margin-top: -4rem;
}

.services-divider-2 {
  grid-column: 1/-1;
  margin-top: -2rem;
  z-index: 1;
  width: 100vw;
}

.services-divider-2 svg {
  width: inherit;
  height: inherit;
}

.about-us-heading-container {
  grid-column: 1/-1;
  margin-top: -4rem;
  height: 12rem;
  background-color: #f8f8f8;
  display: grid;
}

.about-us-heading-container .about-us-heading {
  justify-self: center;
  z-index: 3;
}

.about-us-heading-container .about-us-heading h1 {
  color: #2f4f4f;
  text-transform: capitalize;
  font-size: 8rem;
  font-family: "Great Vibes";
  letter-spacing: 3px;
}

.about-us-heading-container .about-us-heading h1::before,
.about-us-heading-container .about-us-heading h1::after {
  content: "-";
  padding: 1rem;
}

.about-us-container {
  grid-column: 1/-1;
  height: 50rem;
  background-color: #d3d3d3;
  display: grid;
}

.about-us-container .about-us-history {
  height: 20rem;
  margin-top: 1rem;
  justify-self: center;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.about-us-container .about-us-history .years {
  position: relative;
  display: grid;
}

.about-us-container .about-us-history .years svg {
  margin-top: 2rem;
  justify-self: center;
  align-self: center;
  height: 18rem;
  width: auto;
}

.about-us-container .about-us-history .years h3 {
  position: absolute;
  top: 7rem;
  left: 6rem;
  color: #2f4f4f;
  text-transform: capitalize;
  font-size: 8rem;
  font-family: "Great Vibes";
  letter-spacing: 3px;
}

.about-us-container .about-us-history .info {
  justify-self: center;
  align-self: center;
}

.about-us-container .about-us-divider {
  height: 2rem;
  background: #f8f8f8;
}

.about-us-container .about-us-reviews {
  height: 15rem;
  margin-top: 1rem;
  justify-self: center;
  width: 90%;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.about-us-container .about-us-reviews .reviews {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.about-us-container .about-us-reviews .reviews .review {
  display: grid;
}

.about-us-container .about-us-reviews .reviews .review .stars {
  justify-self: center;
  align-self: center;
}

.about-us-container .about-us-reviews .reviews .review .stars i {
  color: #f89539;
}

.about-us-container .about-us-reviews .reviews .review p {
  text-align: center;
  font-size: 1.5rem;
  padding: 0 0.5rem;
}

.about-us-container .about-us-reviews .review-graphic {
  display: grid;
  position: relative;
}

.about-us-container .about-us-reviews .review-graphic h3 {
  position: absolute;
  top: -2rem;
  left: 7rem;
  color: #2f4f4f;
  text-transform: capitalize;
  font-size: 8rem;
  font-family: "Great Vibes";
  letter-spacing: 3px;
}

.about-us-container .about-us-reviews .review-graphic i {
  justify-self: center;
  font-size: 15rem;
  color: #f89539;
}

.footer-container {
  grid-column: 1/-1;
  height: 25rem;
  background-color: #2f4f4f;
  display: grid;
}

.footer-container .footer {
  justify-self: center;
  padding-top: 2rem;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer-container .footer .links h2,
.footer-container .footer .contact h2,
.footer-container .footer .connect h2 {
  color: #b8b8b8;
  margin-bottom: 1rem;
}

.footer-container .footer .links h3,
.footer-container .footer .links h3 a,
.footer-container .footer .contact h3,
.footer-container .footer .contact h3 a,
.footer-container .footer .connect h3,
.footer-container .footer .connect h3 a {
  color: #d3d3d3;
  margin-bottom: 0.5rem;
}

.footer-container .footer .links h3 a,
.footer-container .footer .contact h3 a,
.footer-container .footer .connect h3 a {
  text-decoration: none;
}

.footer-container .footer .links ul li,
.footer-container .footer .contact ul li,
.footer-container .footer .connect ul li {
  list-style: none;
  padding-left: 1.5rem;
  margin-bottom: 0.5rem;
}

.footer-container .footer .links ul li a,
.footer-container .footer .contact ul li a,
.footer-container .footer .connect ul li a {
  text-decoration: none;
  color: #d3d3d3;
}

.footer-container .footer .links p,
.footer-container .footer .contact p,
.footer-container .footer .connect p {
  color: #d3d3d3;
  margin-bottom: 1rem;
}

.footer-container .footer .links p i,
.footer-container .footer .contact p i,
.footer-container .footer .connect p i {
  margin-right: 0.75rem;
  color: #d3d3d3;
}

.footer-container .footer .links .facebook,
.footer-container .footer .contact .facebook,
.footer-container .footer .connect .facebook {
  font-size: 4rem;
  color: #d3d3d3;
}

.footer-container .footer .copy {
  grid-column: 1/-1;
  justify-self: center;
  align-self: center;
}

.footer-container .footer .copy a {
  text-decoration: none;
  color: #d3d3d3;
}

.card-container {
  padding: 2rem 3rem;
  -webkit-perspective: 900;
          perspective: 900;
}

.card-container .card {
  height: 30rem;
  border-radius: 10px;
  transition: all 0.6s ease;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: relative;
}

.card-container .card:hover {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card-container .card .front,
.card-container .card .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background: #f8f8f8;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  border: 2px solid #f89539;
  display: grid;
}

.card-container .card .front {
  background: linear-gradient(to top right, #f8f8f8 50%, #989898);
  padding-top: 1rem;
}

.card-container .card .front i {
  margin-top: 1rem;
  font-size: 9rem;
  color: #f89539;
  justify-self: center;
}

.card-container .card .front h3 {
  font-size: 3rem;
  color: #2f4f4f;
  justify-self: center;
}

.card-container .card .front p {
  padding: 0 2rem;
  font-size: 1.7rem;
  text-align: center;
}

.card-container .card .back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  background: linear-gradient(to top right, #f8f8f8 50%, #989898);
  padding-top: 1rem;
}

.card-container .card .back h4 {
  font-size: 2rem;
  color: #2f4f4f;
  justify-self: center;
}

.card-container .card .back .house {
  height: 10rem;
  padding-left: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 3rem;
  justify-content: center;
}

.card-container .card .back .house h5 {
  font-size: 1.4rem;
  color: #989898;
}

.card-container .card .back .garden {
  padding-left: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 3rem;
}

.card-container .card .back .garden h5 {
  font-size: 1.4rem;
}

.card-container .card .back .design {
  padding-left: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 3rem;
}

.card-container .card .back .design h5 {
  font-size: 1.4rem;
}

.card-container .card .back .arts {
  padding-left: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 3rem;
}

.card-container .card .back .arts h5 {
  font-size: 1.4rem;
}

.btn {
  color: #f8f8f8;
  background-color: #f89539;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 2rem;
  z-index: 15;
  text-decoration: none;
}

.btn:hover {
  background-color: #f8f8f8;
  color: #f89539;
  border: #b8b8b8 1px solid;
  cursor: pointer;
}

.banner-small {
  grid-column: 1/-1;
  height: 15rem;
  position: relative;
  display: grid;
  background: url("/images/welcome.jpg");
  background-position: center;
  background-size: cover;
}

.banner-small:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right bottom, rgba(7, 8, 9, 0.7), rgba(8, 9, 10, 0.7));
}

.banner-small h1 {
  justify-self: center;
  align-self: center;
  font-size: 7rem;
  color: #f89539;
  z-index: 2;
}

.banner-small h1 span {
  color: #f8f8f8;
  font-family: "Great Vibes";
  letter-spacing: 10px;
}

.wood-heading-container {
  background-color: #e8e8e8;
}

.wood-heading-container .wood-heading {
  height: 10rem;
  background-color: #e8e8e8;
}

.wood-heading-container .wood-heading h1 {
  margin-top: 2rem;
  font-size: 3.5rem;
  justify-self: center;
}

.wood-heading-container .wood-heading p {
  justify-self: center;
  font-size: 2rem;
}

.wood-1-container {
  background-color: #e8e8e8;
  height: 35rem;
}

.wood-1-container .wood-1 {
  margin-top: 2rem;
  height: 30rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.wood-1-container .wood-1-img {
  background-color: #f89539;
  display: grid;
}

.wood-1-container .wood-1-img img {
  align-self: center;
  justify-self: center;
  height: 25rem;
  width: 35rem;
  -webkit-transform: translateX(5rem);
          transform: translateX(5rem);
  z-index: 5;
}

.wood-1-container .wood-1-text {
  display: grid;
  -webkit-transform: translateX(5rem);
          transform: translateX(5rem);
  background-color: #b8b8b8;
}

.wood-1-container .wood-1-text p {
  justify-self: center;
  align-self: center;
  padding: 0rem 3rem;
  font-size: 2rem;
}

.wood-2-container {
  height: 35rem;
  background-color: #e8e8e8;
}

.wood-2-container .wood-2 {
  grid-template-columns: 2fr 1fr;
  height: 30rem;
}

.wood-2-container .wood-2-text {
  display: grid;
  background-color: #989898;
  -webkit-transform: translateX(-5rem);
          transform: translateX(-5rem);
}

.wood-2-container .wood-2-text p {
  justify-self: center;
  align-self: center;
  padding: 0rem 3rem;
  font-size: 2rem;
}

.wood-2-container .wood-2-img {
  background-color: #de6f08;
  display: grid;
}

.wood-2-container .wood-2-img img {
  align-self: center;
  justify-self: center;
  height: 25rem;
  width: 35rem;
  -webkit-transform: translateX(-5rem);
          transform: translateX(-5rem);
  z-index: 5;
}

.wood-3-container {
  background-color: #e8e8e8;
  height: 35rem;
}

.wood-3-container .wood-3 {
  height: 30rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.wood-3-container .wood-3-img {
  background-color: #f89539;
  display: grid;
}

.wood-3-container .wood-3-img img {
  align-self: center;
  justify-self: center;
  height: 25rem;
  width: 35rem;
  -webkit-transform: translateX(5rem);
          transform: translateX(5rem);
  z-index: 5;
}

.wood-3-container .wood-3-text {
  display: grid;
  -webkit-transform: translateX(5rem);
          transform: translateX(5rem);
  background-color: #b8b8b8;
}

.wood-3-container .wood-3-text p {
  justify-self: center;
  align-self: center;
  padding: 0rem 3rem;
  font-size: 2rem;
}

.wood-3-container .wood-3-text p span {
  color: #f8f8f8;
}

.diy-heading-container {
  background-color: #e8e8e8;
}

.diy-heading-container p {
  font-size: 2rem;
}

.diy-1-container {
  background-color: #e8e8e8;
}

.diy-1-container .diy-1-img {
  background-color: #f89539;
}

.diy-1-container .diy-1-img img {
  -webkit-transform: translateX(5rem);
          transform: translateX(5rem);
}

.diy-1-container .diy-1-text {
  background-color: #d3d3d3;
  -webkit-transform: translateX(5rem);
          transform: translateX(5rem);
}

.diy-1-container .diy-1-text-left {
  border-right: 2px dashed #f89539;
}

.diy-2-container {
  background-color: #e8e8e8;
}

.diy-2-container .diy-2-text {
  background-color: #b8b8b8;
  -webkit-transform: translateX(-5rem);
          transform: translateX(-5rem);
}

.diy-2-container .diy-2-text-left {
  border-right: 2px dashed #f89539;
}

.diy-2-container .diy-2-img {
  background-color: #de6f08;
}

.diy-2-container .diy-2-img img {
  -webkit-transform: translateX(-5rem);
          transform: translateX(-5rem);
}

