@import url(https://fonts.googleapis.com/css?family=Nunito);*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 65%;
}

@media (max-width: 1250px) {
  html {
    font-size: 62.5%;
  }
}

@media (max-width: 1150px) {
  html {
    font-size: 60.5%;
  }
}

@media (max-width: 1050px) {
  html {
    font-size: 58.5%;
  }
}

@media (max-width: 950px) {
  html {
    font-size: 56.5%;
  }
}

@media (max-width: 850px) {
  html {
    font-size: 55.5%;
  }
}

@media (max-width: 750px) {
  html {
    font-size: 53.5%;
  }
}

@media (max-width: 650px) {
  html {
    font-size: 51.5%;
  }
}

@media (max-width: 550px) {
  html {
    font-size: 49.5%;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 47.5%;
  }
}

@media (max-width: 350px) {
  html {
    font-size: 45.5%;
  }
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  color: black;
  font-size: 1.5rem;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 7rem repeat(10, 1fr) 7rem;
}

p {
  font-size: 1.7rem;
}

.row {
  grid-column: 1/-1;
  display: grid;
}

.row-inset {
  justify-self: center;
  width: 80%;
  display: grid;
}

.mt-05 {
  margin-top: 0.5rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mr-4 {
  margin-right: 4rem;
}

.ml-2 {
  margin-left: 2rem;
}

.ml-3 {
  margin-left: 3rem;
}

.ml-4 {
  margin-left: 4rem;
}

.p-s {
  padding: 1rem 2rem;
}

.p-m {
  padding: 1.5rem 3rem;
}

.pt-3 {
  padding-top: 3rem;
}

.ds-g {
  display: grid;
}

.gc-full {
  grid-column: 1/-1;
}

.gtc-1 {
  grid-template-columns: 1fr;
}

.gtc-1-1 {
  grid-template-columns: 1fr 1fr;
}

.gtc-1-2 {
  grid-template-columns: 1fr 2fr;
}

.gtc-2-1 {
  grid-template-columns: 2fr 1fr;
}

.js-c {
  justify-self: center;
}

.as-c {
  align-self: center;
}

.gg-1 {
  grid-gap: 1rem;
}

.w-40p {
  width: 40%;
}

.w-50p {
  width: 50%;
}

.w-60p {
  width: 60%;
}

.w-80 {
  width: 80%;
}

.w-100p {
  width: 100%;
}

.h-2 {
  height: 2rem;
}

.h-2-5 {
  height: 2.5rem;
}

.h-3 {
  height: 3rem;
}

.h-7 {
  height: 7rem;
}

.h-8 {
  height: 8rem;
}

.h-10 {
  height: 10rem;
}

.h-11 {
  height: 11rem;
}

.h-15 {
  height: 15rem;
}

.h-20 {
  height: 20rem;
}

.h-25 {
  height: 25rem;
}

.h-30 {
  height: 30rem;
}

.h-35 {
  height: 35rem;
}

.h-40 {
  height: 40rem;
}

.h-45 {
  height: 45rem;
}

.h-50 {
  height: 50rem;
}

.h-55 {
  height: 55rem;
}

.h-60 {
  height: 60rem;
}

.h-65 {
  height: 65rem;
}

.h-70 {
  height: 70rem;
}

.w-10 {
  width: 10rem;
}

.w-35 {
  width: 35rem;
}

.w-40 {
  width: 40rem;
}

.w-50 {
  width: 50rem;
}

.w-60 {
  width: 60rem;
}

.ta-c {
  text-align: center;
}

.bs {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.bs-l {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.bg-g1 {
  background-color: #f8f8f8;
}

.bg-pd {
  background-color: #de6f08;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 0.75fr 0.25fr 3.5fr 0.25fr 3fr 0.25fr;
  height: 7rem;
  z-index: 100;
  background-color: #f8f8f8;
}

@media (max-width: 1275px) {
  .header {
    grid-template-columns: 0.5fr 0.15fr 3fr 0.15fr 3fr 0.15fr;
  }
}

.header .logo {
  align-self: center;
  justify-self: center;
  height: inherit;
  z-index: 100;
}

.header .logo img {
  padding-left: 2.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  height: 100%;
  width: auto;
}

.header .nav-divider-1 {
  height: inherit;
  margin-right: -4.5rem;
}

.header .nav-divider-1 svg {
  width: inherit;
  height: inherit;
}

.header .slogan {
  justify-self: center;
  color: #f8f8f8;
  background: #f89539;
  padding: 0rem 2rem;
  z-index: 10;
}

@media (max-width: 1150px) {
  .header .slogan {
    padding: 0rem 1rem;
  }
}

@media (max-width: 515px) {
  .header .slogan {
    padding: 0;
  }
}

.header .slogan p {
  padding: 1.3rem 2rem;
  margin-bottom: -2rem;
  font-size: 1.4rem;
  z-index: 10;
}

@media (max-width: 1150px) {
  .header .slogan p {
    padding: 1rem 1rem;
  }
}

@media (max-width: 850px) {
  .header .slogan p {
    visibility: hidden;
  }
}

@media (max-width: 515px) {
  .header .slogan p {
    padding: 0;
    martin-bottom: 0;
    font-size: 0.025rem;
  }
}

.header .slogan p i {
  margin-right: 0.5rem;
}

.header .nav-divider-2 {
  height: inherit;
  margin-left: -4.5rem;
}

.header .nav-divider-2 svg {
  width: inherit;
  height: inherit;
}

.header .nav {
  align-self: center;
  justify-self: center;
  z-index: 10;
  color: #f89539;
  position: relative;
}

.header .nav .menu {
  display: none;
}

.header .nav .menu:active {
  outline: none;
}

.header .nav .menu:focus {
  outline: none;
}

@media (max-width: 900px) {
  .header .nav .menu {
    display: inline-block;
    font-size: 2rem;
  }
}

@media (max-width: 500px) {
  .header .nav .menu {
    font-size: 1.8rem;
  }
}

@media (max-width: 350px) {
  .header .nav .menu {
    font-size: 1.6rem;
  }
}

.header .nav .menu i {
  margin-left: 1rem;
}

@media (max-width: 380px) {
  .header .nav .menu i {
    margin-left: 0.5rem;
  }
}

.header .nav-item {
  list-style: none;
  display: inline-block;
  padding: 2.5rem 0;
}

@media (max-width: 900px) {
  .header .nav-item {
    display: none;
  }
}

.header .nav-item-link {
  text-decoration: none;
  text-transform: uppercase;
  padding: 6rem 2rem;
  color: #2f4f4f;
}

@media (max-width: 1150px) {
  .header .nav-item-link {
    padding: 3rem 1.5rem;
  }
}

@media (max-width: 1000px) {
  .header .nav-item-link {
    padding: 3rem 1rem;
  }
}

.header .nav-item-link:visited {
  color: #2f4f4f;
}

.header .nav-item-link:hover {
  color: #f89539;
  padding-bottom: 1rem;
  border-bottom: 2px solid #f89539;
}

.header .nav-item-link i {
  font-size: 1.5rem;
}

.header .nav-divider-3 {
  height: inherit;
}

.header .nav-divider-3 svg {
  width: inherit;
  height: inherit;
}

.dropdown-nav {
  display: none;
  width: 100%;
  position: fixed;
  background-color: #f89539;
  top: 7rem;
  right: 0rem;
  border-radius: 0px 0px 10px 10px;
  z-index: 100;
}

@media (max-width: 900px) {
  .dropdown-nav {
    display: none;
  }
}

.dropdown-nav-item {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: inline-block;
  list-style: none;
  width: 100%;
}

.dropdown-nav-link {
  text-align: center;
  text-decoration: none;
  padding: 1rem 0rem;
  display: inline-block;
  width: 100%;
  color: #f8f8f8;
  font-size: 1.7rem;
}

.dropdown-nav-link:hover {
  background-color: #de6f08;
}

.dropdown-nav:active,
.dropdown-nav:focus {
  display: none;
}

.dropdown {
  position: relative;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown .dropdown-content {
  display: none;
  position: fixed;
  width: 25%;
  top: 7rem;
  right: 20rem;
  background-color: #f89539;
  list-style: none;
  z-index: 500;
}

.dropdown .dropdown-content-link {
  text-decoration: none;
  display: block;
  color: black;
  width: 100%;
  padding: 1rem;
  text-align: center;
}

.dropdown .dropdown-content-link:hover {
  color: #f8f8f8;
  cursor: pointer;
  background: #de6f08;
}

.banner {
  grid-column: 1/-1;
  height: 60rem;
  background: url("/images/Welcome.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
  margin-top: -1rem;
  z-index: -1;
  display: grid;
}

.banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to right bottom, rgba(7, 8, 9, 0.7), rgba(8, 9, 10, 0.7));
}

.banner .title_1 {
  margin-top: 7rem;
  font-family: "Great Vibes";
  justify-self: center;
  color: #f8f8f8;
  z-index: 2;
  font-size: 11.5rem;
  font-weight: 500;
  letter-spacing: 0.5rem;
  -webkit-transform: rotate(-18deg) translateY(5.5rem) translateX(-0.7rem);
          transform: rotate(-18deg) translateY(5.5rem) translateX(-0.7rem);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.8);
}

@media (max-width: 700px) {
  .banner .title_1 {
    font-size: 10.5rem;
  }
}

.banner .title_2 {
  font-size: 10.5rem;
  font-weight: 300;
  letter-spacing: 0.5rem;
  justify-self: center;
  color: #f89539;
  z-index: 2;
  margin-top: -2rem;
  margin-left: -1rem;
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.8);
}

@media (max-width: 700px) {
  .banner .title_2 {
    font-size: 9.5rem;
    margin-top: -4rem;
  }
}

.banner h3 {
  justify-self: center;
  font-size: 4rem;
  font-weight: 300;
  letter-spacing: 1rem;
  color: #f8f8f8;
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.8);
  margin-top: 2rem;
  z-index: 2;
  -webkit-animation-name: moveInLeft;
          animation-name: moveInLeft;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

@media (max-width: 700px) {
  .banner h3 {
    font-size: 3.5rem;
  }
}

@media (max-width: 580px) {
  .banner h3 {
    font-size: 3rem;
    letter-spacing: 0.75rem;
  }
}

@media (max-width: 480px) {
  .banner h3 {
    font-size: 2.5rem;
  }
}

@media (max-width: 400px) {
  .banner h3 {
    font-size: 2.2rem;
    margin-left: 0.5rem;
  }
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }

  80% {
    -webkit-transform: translateX(2rem);
            transform: translateX(2rem);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }

  80% {
    -webkit-transform: translateX(2rem);
            transform: translateX(2rem);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.overview-container {
  grid-column: 1/-1;
  background: #e8e8e8;
  display: grid;
}

.overview-container .overview {
  margin-top: 3rem;
  margin-bottom: 2rem;
  justify-self: center;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1rem;
  z-index: 10;
}

@media (max-width: 930px) {
  .overview-container .overview {
    grid-template-columns: 1fr;
    width: 90%;
  }
}

@media (max-width: 700px) {
  .overview-container .overview {
    width: 95%;
  }
}

@media (max-width: 550px) {
  .overview-container .overview {
    width: 100%;
  }
}

.overview-container .overview h1 {
  text-transform: capitalize;
  grid-column: 1/-1;
  justify-self: center;
  color: #2f4f4f;
  margin-bottom: 1rem;
}

.services-divider {
  grid-column: 1/-1;
  margin-top: -2rem;
  z-index: 1;
  width: 100vw;
}

.services-divider svg {
  width: inherit;
  height: inherit;
}

.services-heading-container {
  grid-column: 1/-1;
  margin-top: -4rem;
  height: 12rem;
  background-color: #f89539;
  display: grid;
}

.services-heading-container .services-heading {
  justify-self: center;
  z-index: 3;
}

.services-heading-container .services-heading h1 {
  color: #f8f8f8;
  text-transform: capitalize;
  font-size: 8rem;
  font-family: "Great Vibes";
  letter-spacing: 3px;
}

@media (max-width: 850px) {
  .services-heading-container .services-heading h1 {
    font-size: 7rem;
    margin-top: 1rem;
  }
}

@media (max-width: 550px) {
  .services-heading-container .services-heading h1 {
    margin-top: 1.5rem;
  }
}

@media (max-width: 500px) {
  .services-heading-container .services-heading h1 {
    margin-top: 2rem;
  }
}

.services-heading-container .services-heading h1::before,
.services-heading-container .services-heading h1::after {
  content: "-";
  padding: 1rem;
}

.services-container {
  grid-column: 1/-1;
  background-color: #989898;
  display: grid;
}

.services-container .services {
  justify-self: center;
  width: 80%;
  margin-top: 2rem;
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1rem;
}

@media (max-width: 1000px) {
  .services-container .services {
    width: 95%;
  }
}

@media (max-width: 650px) {
  .services-container .services {
    grid-template-columns: 1fr;
    width: 80%;
  }
}

@media (max-width: 550px) {
  .services-container .services {
    width: 90%;
  }
}

.services-container .services-wood,
.services-container .services-diy,
.services-container .services-advice,
.services-container .services-fuel {
  height: 40rem;
  margin: 1rem 2rem;
  padding: 1rem 1rem;
  background: linear-gradient(to top, #f8f8f8 30%, #989898);
  display: grid;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.services-container .services-wood img,
.services-container .services-diy img,
.services-container .services-advice img,
.services-container .services-fuel img {
  height: 20rem;
  width: 30rem;
  justify-self: center;
  margin-bottom: -2rem;
}

.services-container .services-wood p,
.services-container .services-diy p,
.services-container .services-advice p,
.services-container .services-fuel p {
  text-align: center;
  margin-top: -4rem;
}

.services-container .services-link {
  -webkit-transform: translateY(-5rem);
          transform: translateY(-5rem);
  justify-self: center;
  width: 20rem;
  text-align: center;
  vertical-align: center;
  display: block;
  padding-top: 0.5rem;
  height: 4rem;
  border-radius: 5px;
}

.services-container .services-btn {
  background-color: #f89539;
}

.services-container .services-btn:hover {
  color: #f89539;
  background-color: #f8f8f8;
}

.services-divider-2 {
  grid-column: 1/-1;
  margin-top: -2rem;
  z-index: 1;
  width: 100vw;
}

.services-divider-2 svg {
  width: inherit;
  height: inherit;
}

.about-us-heading-container {
  grid-column: 1/-1;
  margin-top: -5rem;
  background-color: #f8f8f8;
  display: grid;
}

.about-us-heading-container .about-us-heading {
  justify-self: center;
  z-index: 3;
  margin-bottom: 1rem;
}

.about-us-heading-container .about-us-heading h1 {
  color: #2f4f4f;
  text-transform: capitalize;
  font-size: 8rem;
  font-family: "Great Vibes";
  letter-spacing: 3px;
}

@media (max-width: 1000px) {
  .about-us-heading-container .about-us-heading h1 {
    font-size: 7rem;
    margin-top: 1rem;
  }
}

@media (max-width: 750px) {
  .about-us-heading-container .about-us-heading h1 {
    font-size: 6.5rem;
  }
}

@media (max-width: 600px) {
  .about-us-heading-container .about-us-heading h1 {
    font-size: 5.5rem;
    margin-top: 2rem;
  }
}

.about-us-heading-container .about-us-heading h1::before,
.about-us-heading-container .about-us-heading h1::after {
  content: "-";
  padding: 1rem;
}

.about-us-container {
  grid-column: 1/-1;
  background-color: #d3d3d3;
  display: grid;
}

.about-us-container .about-us-history {
  height: 20rem;
  margin-top: 1rem;
  justify-self: center;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 2rem;
}

@media (max-width: 850px) {
  .about-us-container .about-us-history {
    grid-template-columns: 1fr;
    height: auto;
  }
}

.about-us-container .about-us-history .years {
  position: relative;
  display: grid;
}

.about-us-container .about-us-history .years svg {
  margin-top: 2rem;
  justify-self: center;
  align-self: center;
  height: 18rem;
  width: auto;
}

@media (max-width: 850px) {
  .about-us-container .about-us-history .years svg {
    margin-bottom: 4rem;
  }
}

.about-us-container .about-us-history .info {
  justify-self: center;
  align-self: center;
  margin-left: 2rem;
}

.about-us-container .about-us-divider {
  height: 2rem;
  background: #f8f8f8;
}

.about-us-container .about-us-reviews {
  margin-top: 1rem;
  margin-bottom: 1rem;
  justify-self: center;
  width: 90%;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

@media (max-width: 850px) {
  .about-us-container .about-us-reviews {
    grid-template-columns: 1fr;
    height: auto;
  }
}

.about-us-container .about-us-reviews .reviews {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 850px) {
  .about-us-container .about-us-reviews .reviews {
    grid-row: 2/3;
  }
}

@media (max-width: 650px) {
  .about-us-container .about-us-reviews .reviews {
    grid-template-columns: 1fr;
  }
}

.about-us-container .about-us-reviews .reviews .review {
  display: grid;
}

@media (max-width: 650px) {
  .about-us-container .about-us-reviews .reviews .review {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.about-us-container .about-us-reviews .reviews .review .stars {
  justify-self: center;
  align-self: center;
}

.about-us-container .about-us-reviews .reviews .review .stars i {
  color: #f89539;
}

.about-us-container .about-us-reviews .reviews .review p {
  text-align: center;
  font-size: 1.5rem;
  padding: 0 0.5rem;
}

.about-us-container .about-us-reviews .review-graphic {
  display: grid;
}

@media (max-width: 850px) {
  .about-us-container .about-us-reviews .review-graphic {
    grid-row: 1/2;
    margin-bottom: 2rem;
  }
}

.about-us-container .about-us-reviews .review-graphic svg {
  justify-self: center;
  align-self: center;
  height: 17rem;
}

.footer-container {
  grid-column: 1/-1;
  background-color: #2f4f4f;
  display: grid;
}

.footer-container .footer {
  justify-self: center;
  padding-top: 2rem;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 2rem;
}

@media (max-width: 700px) {
  .footer-container .footer {
    grid-template-columns: 1fr;
  }
}

.footer-container .footer .links,
.footer-container .footer .contact,
.footer-container .footer .connect {
  padding: 2rem 4rem;
}

.footer-container .footer .links h2,
.footer-container .footer .contact h2,
.footer-container .footer .connect h2 {
  color: #b8b8b8;
  margin-bottom: 1rem;
}

.footer-container .footer .links h3,
.footer-container .footer .links h3 a,
.footer-container .footer .contact h3,
.footer-container .footer .contact h3 a,
.footer-container .footer .connect h3,
.footer-container .footer .connect h3 a {
  color: #d3d3d3;
  margin-bottom: 0.5rem;
}

.footer-container .footer .links h3 a,
.footer-container .footer .contact h3 a,
.footer-container .footer .connect h3 a {
  text-decoration: none;
}

.footer-container .footer .links ul li,
.footer-container .footer .contact ul li,
.footer-container .footer .connect ul li {
  list-style: none;
  padding-left: 1.5rem;
  margin-bottom: 0.5rem;
}

.footer-container .footer .links ul li a,
.footer-container .footer .contact ul li a,
.footer-container .footer .connect ul li a {
  text-decoration: none;
  color: #d3d3d3;
}

.footer-container .footer .links p,
.footer-container .footer .contact p,
.footer-container .footer .connect p {
  color: #d3d3d3;
  margin-bottom: 1rem;
}

.footer-container .footer .links p i,
.footer-container .footer .contact p i,
.footer-container .footer .connect p i {
  margin-right: 0.75rem;
  color: #d3d3d3;
}

.footer-container .footer .links .facebook,
.footer-container .footer .contact .facebook,
.footer-container .footer .connect .facebook {
  font-size: 4rem;
  color: #d3d3d3;
}

.footer-container .footer .copy {
  grid-column: 1/-1;
  justify-self: center;
  align-self: center;
}

.footer-container .footer .copy a {
  text-decoration: none;
  color: #d3d3d3;
}

.flip {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card-container {
  padding: 2rem 3rem;
  -webkit-perspective: 700px;
          perspective: 700px;
}

.card-container .card {
  height: 30rem;
  border-radius: 10px;
  transition: all 0.6s ease;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: relative;
}

@media (max-width: 930px) {
  .card-container .card {
    width: 80%;
    margin: 0 auto;
  }
}

@media (max-width: 600px) {
  .card-container .card {
    width: 90%;
  }
}

@media (max-width: 450px) {
  .card-container .card {
    width: 95%;
  }
}

.card-container .card .front,
.card-container .card .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background: #f8f8f8;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  border: 2px solid #f89539;
  display: grid;
}

.card-container .card .front {
  background: linear-gradient(to top right, #f8f8f8 50%, #989898);
  padding-top: 1rem;
  position: relative;
}

.card-container .card .front i {
  margin-top: 1rem;
  font-size: 9rem;
  color: #f89539;
  justify-self: center;
}

.card-container .card .front h3 {
  font-size: 3rem;
  color: #2f4f4f;
  justify-self: center;
}

@media (max-width: 1080px) {
  .card-container .card .front h3 {
    font-size: 2.7rem;
  }
}

.card-container .card .front-btn {
  position: absolute;
  top: 1rem;
  right: 2rem;
  justify-self: center;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

@media (max-width: 400px) {
  .card-container .card .front-btn {
    top: 0.5rem;
    right: 0.5rem;
  }
}

.card-container .card .front p {
  padding: 0 2rem;
  font-size: 1.7rem;
  text-align: center;
}

@media (max-width: 1080px) {
  .card-container .card .front p {
    font-size: 1.5rem;
  }
}

.card-container .card .back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  background: linear-gradient(to top right, #f8f8f8 50%, #989898);
  padding-top: 1rem;
}

.card-container .card .back h4 {
  font-size: 2rem;
  color: #2f4f4f;
  justify-self: center;
  text-decoration: underline;
}

@media (max-width: 400px) {
  .card-container .card .back h4 {
    justify-self: start;
    margin-left: 1rem;
  }
}

.card-container .card .back-btn {
  position: absolute;
  top: 1rem;
  right: 2rem;
  justify-self: center;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

@media (max-width: 400px) {
  .card-container .card .back-btn {
    top: 0.5rem;
    right: 0.5rem;
  }
}

.card-container .card .back .house {
  height: 10rem;
  padding-left: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 3rem;
  justify-content: center;
}

.card-container .card .back .house h5 {
  font-size: 1.4rem;
  color: #2f4f4f;
}

.card-container .card .back .garden {
  padding-left: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 3rem;
}

.card-container .card .back .garden h5 {
  font-size: 1.4rem;
  color: #2f4f4f;
}

.card-container .card .back .design {
  padding-left: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 3rem;
}

.card-container .card .back .design h5 {
  font-size: 1.4rem;
  color: #2f4f4f;
}

.card-container .card .back .arts {
  padding-left: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 3rem;
}

.card-container .card .back .arts h5 {
  font-size: 1.4rem;
  color: #2f4f4f;
}

.btn {
  color: #f8f8f8;
  background-color: #f89539;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 2rem;
  z-index: 15;
  text-decoration: none;
}

.btn:hover {
  background-color: #f8f8f8;
  color: #f89539;
  border: #b8b8b8 1px solid;
  cursor: pointer;
}

.btn-round {
  color: #f8f8f8;
  background-color: #f89539;
  padding: 0.5rem 1rem;
  border-radius: 50%;
  font-size: 2rem;
  z-index: 15;
  text-decoration: none;
}

.btn-round i {
  color: #f8f8f8;
}

.btn-round:hover {
  background-color: #f8f8f8;
  color: #f89539;
  border: #b8b8b8 1px solid;
  cursor: pointer;
}

.banner-small {
  grid-column: 1/-1;
  height: 15rem;
  position: relative;
  display: grid;
  background: url("/images/Welcome.jpg");
  background-position: center;
  background-size: cover;
}

.banner-small:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right bottom, rgba(7, 8, 9, 0.7), rgba(8, 9, 10, 0.7));
}

.banner-small h1 {
  justify-self: center;
  align-self: center;
  font-size: 7rem;
  color: #f89539;
  z-index: 2;
}

@media (max-width: 500px) {
  .banner-small h1 {
    font-size: 6rem;
  }
}

.banner-small h1 span {
  color: #f8f8f8;
  font-family: "Great Vibes";
  letter-spacing: 10px;
}

.form {
  justify-self: center;
  width: 50%;
  padding: 2rem 4rem;
  display: grid;
  margin-bottom: 2rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

@media (max-width: 1200px) {
  .form {
    width: 60%;
  }
}

@media (max-width: 950px) {
  .form {
    width: 70%;
  }
}

@media (max-width: 700px) {
  .form {
    width: 80%;
  }
}

@media (max-width: 550px) {
  .form {
    width: 90%;
  }
}

@media (max-width: 450px) {
  .form {
    width: 95%;
  }
}

.form .form-group label {
  font-size: 1.7rem;
  display: block;
  width: 100%;
  margin-bottom: 1rem;
}

.form .form-group input {
  display: block;
  width: 60%;
  margin-bottom: 2rem;
  height: 2.8rem;
}

.form .form-group textarea {
  display: block;
  width: 60%;
}

.form button {
  margin-top: 1rem;
  font-size: 1.5rem;
  width: 15%;
  height: 3rem;
  border-radius: 10px;
  background-color: #de6f08;
  color: #f8f8f8;
}

.form button:hover {
  cursor: pointer;
  background-color: #f8f8f8;
  color: #de6f08;
}

.wood-heading-container {
  grid-column: 1/-1;
  display: grid;
  background-color: #e8e8e8;
}

.wood-heading-container .wood-heading {
  justify-self: center;
  width: 80%;
  display: grid;
  background-color: #e8e8e8;
}

.wood-heading-container .wood-heading h1 {
  margin-top: 2rem;
  font-size: 3.5rem;
  justify-self: center;
}

@media (max-width: 700px) {
  .wood-heading-container .wood-heading h1 {
    font-size: 3rem;
  }
}

@media (max-width: 600px) {
  .wood-heading-container .wood-heading h1 {
    font-size: 2.7rem;
  }
}

.wood-heading-container .wood-heading p {
  justify-self: center;
  font-size: 2rem;
}

@media (max-width: 700px) {
  .wood-heading-container .wood-heading p {
    font-size: 1.6rem;
  }
}

.wood-1-container {
  grid-column: 1/-1;
  display: grid;
  background-color: #e8e8e8;
}

.wood-1-container .wood-1 {
  justify-self: center;
  width: 80%;
  display: grid;
  margin-top: 2rem;
  height: 30rem;
  margin-bottom: 2rem;
  grid-template-columns: 1fr 2fr;
}

@media (max-width: 1000px) {
  .wood-1-container .wood-1 {
    grid-template-columns: 1fr;
    width: 85%;
  }
}

@media (max-width: 800px) {
  .wood-1-container .wood-1 {
    width: 95%;
  }
}

@media (max-width: 600px) {
  .wood-1-container .wood-1 {
    height: 33rem;
  }
}

.wood-1-container .wood-1-img {
  background-color: #f89539;
  display: grid;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

@media (max-width: 1000px) {
  .wood-1-container .wood-1-img {
    width: 60%;
    justify-self: center;
  }
}

@media (max-width: 800px) {
  .wood-1-container .wood-1-img {
    width: 65%;
  }
}

@media (max-width: 600px) {
  .wood-1-container .wood-1-img {
    width: 70%;
  }
}

@media (max-width: 500px) {
  .wood-1-container .wood-1-img {
    width: 80%;
  }
}

@media (max-width: 450px) {
  .wood-1-container .wood-1-img {
    width: 90%;
  }
}

.wood-1-container .wood-1-img img {
  align-self: center;
  justify-self: center;
  height: 25rem;
  width: 35rem;
  -webkit-transform: translateX(5rem);
          transform: translateX(5rem);
  z-index: 5;
}

@media (max-width: 1000px) {
  .wood-1-container .wood-1-img img {
    -webkit-transform: translateX(0) translateY(1rem);
            transform: translateX(0) translateY(1rem);
  }
}

.wood-1-container .wood-1-text {
  display: grid;
  -webkit-transform: translateX(5rem);
          transform: translateX(5rem);
  background-color: #b8b8b8;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

@media (max-width: 1000px) {
  .wood-1-container .wood-1-text {
    width: 80%;
    justify-self: center;
    -webkit-transform: translateX(0) translateY(2rem);
            transform: translateX(0) translateY(2rem);
  }
}

@media (max-width: 450px) {
  .wood-1-container .wood-1-text {
    margin-bottom: 1rem;
  }
}

.wood-1-container .wood-1-text p {
  justify-self: center;
  align-self: center;
  padding: 0rem 3rem;
  font-size: 2rem;
}

@media (max-width: 1000px) {
  .wood-1-container .wood-1-text p {
    font-size: 1.7rem;
    padding: 1rem 3rem;
  }
}

.wood-2-container {
  grid-column: 1/-1;
  display: grid;
  background-color: #e8e8e8;
}

.wood-2-container .wood-2 {
  justify-self: center;
  width: 80%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 30rem;
  margin-bottom: 2rem;
}

@media (max-width: 1000px) {
  .wood-2-container .wood-2 {
    grid-template-columns: 1fr;
    margin-top: 4rem;
    width: 85%;
    height: 38rem;
    margin-bottom: 3rem;
  }
}

@media (max-width: 800px) {
  .wood-2-container .wood-2 {
    width: 95%;
    margin-bottom: 3rem;
  }
}

@media (max-width: 600px) {
  .wood-2-container .wood-2 {
    height: 38rem;
  }
}

.wood-2-container .wood-2-text {
  display: grid;
  background-color: #989898;
  -webkit-transform: translateX(-5rem);
          transform: translateX(-5rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

@media (max-width: 1000px) {
  .wood-2-container .wood-2-text {
    grid-row: 2/3;
    width: 80%;
    justify-self: center;
    -webkit-transform: translateX(0) translateY(2rem);
            transform: translateX(0) translateY(2rem);
  }
}

@media (max-width: 950px) {
  .wood-2-container .wood-2-text {
    margin-bottom: 2rem;
  }
}

.wood-2-container .wood-2-text p {
  justify-self: center;
  align-self: center;
  padding: 0rem 3rem;
  font-size: 2rem;
}

@media (max-width: 1000px) {
  .wood-2-container .wood-2-text p {
    font-size: 1.7rem;
    padding: 1rem 3rem;
  }
}

.wood-2-container .wood-2-img {
  background-color: #de6f08;
  display: grid;
}

@media (max-width: 1000px) {
  .wood-2-container .wood-2-img {
    grid-row: 1/2;
    width: 60%;
    justify-self: center;
  }
}

@media (max-width: 800px) {
  .wood-2-container .wood-2-img {
    width: 65%;
  }
}

@media (max-width: 600px) {
  .wood-2-container .wood-2-img {
    width: 70%;
  }
}

@media (max-width: 500px) {
  .wood-2-container .wood-2-img {
    width: 80%;
  }
}

@media (max-width: 450px) {
  .wood-2-container .wood-2-img {
    width: 90%;
  }
}

.wood-2-container .wood-2-img img {
  align-self: center;
  justify-self: center;
  height: 25rem;
  width: 35rem;
  -webkit-transform: translateX(-5rem);
          transform: translateX(-5rem);
  z-index: 5;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

@media (max-width: 1000px) {
  .wood-2-container .wood-2-img img {
    -webkit-transform: translateX(0) translateY(2rem);
            transform: translateX(0) translateY(2rem);
  }
}

.wood-3-container {
  grid-column: 1/-1;
  display: grid;
  background-color: #e8e8e8;
}

.wood-3-container .wood-3 {
  justify-self: center;
  width: 80%;
  height: 30rem;
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

@media (max-width: 1000px) {
  .wood-3-container .wood-3 {
    grid-template-columns: 1fr;
    margin-bottom: 10rem;
    width: 85%;
  }
}

@media (max-width: 900px) {
  .wood-3-container .wood-3 {
    width: 95%;
  }
}

@media (max-width: 700px) {
  .wood-3-container .wood-3 {
    grid-template-columns: 1fr;
    width: 95%;
    margin-bottom: 12rem;
  }
}

@media (max-width: 600px) {
  .wood-3-container .wood-3 {
    height: 33rem;
  }
}

@media (max-width: 500px) {
  .wood-3-container .wood-3 {
    margin-bottom: 15rem;
  }
}

.wood-3-container .wood-3-img {
  background-color: #f89539;
  display: grid;
}

@media (max-width: 1000px) {
  .wood-3-container .wood-3-img {
    width: 60%;
    justify-self: center;
  }
}

@media (max-width: 800px) {
  .wood-3-container .wood-3-img {
    width: 65%;
  }
}

@media (max-width: 600px) {
  .wood-3-container .wood-3-img {
    width: 70%;
  }
}

@media (max-width: 500px) {
  .wood-3-container .wood-3-img {
    width: 80%;
  }
}

@media (max-width: 450px) {
  .wood-3-container .wood-3-img {
    width: 90%;
  }
}

.wood-3-container .wood-3-img img {
  align-self: center;
  justify-self: center;
  height: 25rem;
  width: 35rem;
  -webkit-transform: translateX(5rem);
          transform: translateX(5rem);
  z-index: 5;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

@media (max-width: 1000px) {
  .wood-3-container .wood-3-img img {
    -webkit-transform: translateX(0rem) translateY(2rem);
            transform: translateX(0rem) translateY(2rem);
  }
}

.wood-3-container .wood-3-text {
  display: grid;
  -webkit-transform: translateX(5rem);
          transform: translateX(5rem);
  background-color: #b8b8b8;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

@media (max-width: 1000px) {
  .wood-3-container .wood-3-text {
    -webkit-transform: translateY(2rem);
            transform: translateY(2rem);
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 80%;
    justify-self: center;
  }
}

.wood-3-container .wood-3-text p {
  justify-self: center;
  align-self: center;
  padding: 0rem 3rem;
  font-size: 2rem;
}

@media (max-width: 1000px) {
  .wood-3-container .wood-3-text p {
    font-size: 1.7rem;
    padding: 1rem 3rem;
  }
}

@media (max-width: 670px) {
  .wood-3-container .wood-3-text p {
    margin-bottom: 2rem;
  }
}

.wood-3-container .wood-3-text p span {
  color: #f8f8f8;
}

.diy-heading-container {
  grid-column: 1/-1;
  display: grid;
  background-color: #e8e8e8;
}

.diy-heading-container .diy-heading {
  justify-self: center;
  width: 80%;
  display: grid;
  margin-top: 2rem;
}

.diy-heading-container .diy-heading h1 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 3rem;
  justify-self: center;
}

@media (max-width: 700px) {
  .diy-heading-container .diy-heading h1 {
    font-size: 3rem;
  }
}

@media (max-width: 600px) {
  .diy-heading-container .diy-heading h1 {
    font-size: 2.7rem;
  }
}

.diy-heading-container .diy-heading p {
  justify-self: center;
  font-size: 2rem;
}

.diy-1-container {
  grid-column: 1/-1;
  display: grid;
  background-color: #e8e8e8;
}

.diy-1-container .diy-1 {
  width: 80%;
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media (max-width: 1000px) {
  .diy-1-container .diy-1 {
    grid-template-columns: 1fr;
    width: 85%;
  }
}

@media (max-width: 800px) {
  .diy-1-container .diy-1 {
    width: 95%;
  }
}

.diy-1-container .diy-1-img {
  height: 30rem;
  display: grid;
  background-color: #f89539;
}

@media (max-width: 1000px) {
  .diy-1-container .diy-1-img {
    width: 60%;
    justify-self: center;
    margin-bottom: 2rem;
  }
}

@media (max-width: 800px) {
  .diy-1-container .diy-1-img {
    width: 65%;
  }
}

@media (max-width: 600px) {
  .diy-1-container .diy-1-img {
    width: 70%;
  }
}

@media (max-width: 500px) {
  .diy-1-container .diy-1-img {
    width: 80%;
  }
}

@media (max-width: 450px) {
  .diy-1-container .diy-1-img {
    width: 90%;
  }
}

.diy-1-container .diy-1-img img {
  height: 25rem;
  width: 35rem;
  justify-self: center;
  align-self: center;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  -webkit-transform: translateX(5rem);
          transform: translateX(5rem);
}

@media (max-width: 1000px) {
  .diy-1-container .diy-1-img img {
    -webkit-transform: translateX(0) translateY(4rem);
            transform: translateX(0) translateY(4rem);
  }
}

.diy-1-container .diy-1-text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1fr;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  background-color: #d3d3d3;
  -webkit-transform: translateX(5rem);
          transform: translateX(5rem);
}

@media (max-width: 1000px) {
  .diy-1-container .diy-1-text {
    width: 80%;
    justify-self: center;
    -webkit-transform: translateX(0) translateY(2rem);
            transform: translateX(0) translateY(2rem);
    margin-bottom: 2rem;
  }
}

@media (max-width: 450px) {
  .diy-1-container .diy-1-text {
    margin-bottom: 1rem;
  }
}

.diy-1-container .diy-1-text-left {
  margin-top: 1rem;
  border-right: 2px dashed #f89539;
}

@media (max-width: 1000px) {
  .diy-1-container .diy-1-text-left {
    margin-bottom: 2rem;
  }
}

.diy-1-container .diy-1-text-left h3 {
  text-align: center;
  margin-top: 1rem;
}

.diy-1-container .diy-1-text-left ul {
  margin-left: 4rem;
  padding-top: 3rem;
}

.diy-1-container .diy-1-text-left ul li {
  margin-top: 0.5rem;
}

.diy-1-container .diy-1-text-right {
  margin-top: 1rem;
}

@media (max-width: 1000px) {
  .diy-1-container .diy-1-text-right {
    margin-bottom: 2rem;
  }
}

.diy-1-container .diy-1-text-right h3 {
  text-align: center;
  margin-top: 1rem;
}

.diy-1-container .diy-1-text-right ul {
  margin-left: 4rem;
  padding-top: 3rem;
}

.diy-1-container .diy-1-text-right ul li {
  margin-top: 0.5rem;
}

.diy-2-container {
  grid-column: 1/-1;
  display: grid;
  background-color: #e8e8e8;
}

.diy-2-container .diy-2 {
  justify-self: center;
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 80%;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

@media (max-width: 1000px) {
  .diy-2-container .diy-2 {
    grid-template-columns: 1fr;
    margin-top: 4rem;
    width: 85%;
    margin-bottom: 3rem;
    margin-top: 0;
  }
}

@media (max-width: 800px) {
  .diy-2-container .diy-2 {
    width: 95%;
    margin-bottom: 8rem;
  }
}

.diy-2-container .diy-2-text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  background-color: #b8b8b8;
  -webkit-transform: translateX(-5rem);
          transform: translateX(-5rem);
}

@media (max-width: 1000px) {
  .diy-2-container .diy-2-text {
    grid-row: 2/3;
    width: 80%;
    justify-self: center;
    -webkit-transform: translateX(0) translateY(2rem);
            transform: translateX(0) translateY(2rem);
    margin-top: 2rem;
  }
}

.diy-2-container .diy-2-text-left,
.diy-2-container .diy-2-text-right {
  border-right: 2px dashed #f89539;
}

@media (max-width: 1000px) {
  .diy-2-container .diy-2-text-left,
  .diy-2-container .diy-2-text-right {
    margin-bottom: 2rem;
  }
}

.diy-2-container .diy-2-text-left h3,
.diy-2-container .diy-2-text-right h3 {
  text-align: center;
  margin-top: 1rem;
}

.diy-2-container .diy-2-text-left p,
.diy-2-container .diy-2-text-right p {
  margin-top: 2rem;
}

.diy-2-container .diy-2-text-left ul,
.diy-2-container .diy-2-text-right ul {
  margin-left: 4rem;
  padding-top: 3rem;
}

.diy-2-container .diy-2-text-left ul li,
.diy-2-container .diy-2-text-right ul li {
  margin-top: 0.5rem;
}

.diy-2-container .diy-2-img {
  height: 30rem;
  display: grid;
  background-color: #de6f08;
}

@media (max-width: 1000px) {
  .diy-2-container .diy-2-img {
    grid-row: 1/2;
    width: 60%;
    justify-self: center;
  }
}

@media (max-width: 800px) {
  .diy-2-container .diy-2-img {
    width: 65%;
  }
}

@media (max-width: 600px) {
  .diy-2-container .diy-2-img {
    width: 70%;
  }
}

@media (max-width: 500px) {
  .diy-2-container .diy-2-img {
    width: 80%;
  }
}

@media (max-width: 450px) {
  .diy-2-container .diy-2-img {
    width: 90%;
  }
}

.diy-2-container .diy-2-img img {
  height: 25rem;
  width: 35rem;
  justify-self: center;
  align-self: center;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  -webkit-transform: translateX(-5rem);
          transform: translateX(-5rem);
}

@media (max-width: 1000px) {
  .diy-2-container .diy-2-img img {
    -webkit-transform: translateX(0) translateY(4rem);
            transform: translateX(0) translateY(4rem);
  }
}

.advice-heading-container {
  background-color: #e8e8e8;
  grid-column: 1/-1;
  display: grid;
}

.advice-heading-container .advice-heading {
  justify-self: center;
  width: 80%;
  margin-top: 2rem;
  display: grid;
}

@media (max-width: 1000px) {
  .advice-heading-container .advice-heading {
    width: 95%;
  }
}

.advice-heading-container .advice-heading h1 {
  justify-self: center;
}

.advice-heading-container .advice-heading p {
  background-color: #d3d3d3;
  padding: 1.5rem 3rem;
  margin-top: 2rem;
  z-index: 3;
}

.advice-content-container {
  grid-column: 1/-1;
  display: grid;
  background-color: #e8e8e8;
}

.advice-content-container .advice-content {
  justify-self: center;
  width: 80%;
  display: grid;
  margin-bottom: 5rem;
}

@media (max-width: 1000px) {
  .advice-content-container .advice-content {
    width: 95%;
  }
}

@media (max-width: 800px) {
  .advice-content-container .advice-content {
    width: 100%;
  }
}

.advice-content-container .advice-content-img {
  background-color: #f89539;
  width: 80%;
  height: 40rem;
  justify-self: center;
  display: grid;
}

@media (max-width: 800px) {
  .advice-content-container .advice-content-img {
    width: 90%;
  }
}

@media (max-width: 650px) {
  .advice-content-container .advice-content-img {
    width: 80%;
  }
}

@media (max-width: 550px) {
  .advice-content-container .advice-content-img {
    width: 95%;
  }
}

.advice-content-container .advice-content-img img {
  -webkit-transform: translateY(4rem);
          transform: translateY(4rem);
  height: 40rem;
  width: 60rem;
  justify-self: center;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

@media (max-width: 650px) {
  .advice-content-container .advice-content-img img {
    height: 35rem;
    width: 50rem;
    -webkit-transform: translateY(7rem);
            transform: translateY(7rem);
  }
}

@media (max-width: 500px) {
  .advice-content-container .advice-content-img img {
    height: 90%;
    width: 90%;
    -webkit-transform: translateY(7rem);
            transform: translateY(7rem);
  }
}

.advice-end-container {
  background-color: #e8e8e8;
  grid-column: 1/-1;
  display: grid;
}

.advice-end-container .advice-end {
  width: 80%;
  display: grid;
  justify-self: center;
  align-self: center;
}

@media (max-width: 550px) {
  .advice-end-container .advice-end {
    width: 95%;
  }
}

.advice-end-container .advice-end p {
  align-self: center;
  padding: 1.5rem 3rem;
  background-color: #d3d3d3;
}

.fuel-heading-container {
  grid-column: 1/-1;
  display: grid;
  background-color: #e8e8e8;
}

.fuel-heading-container .fuel-heading {
  width: 80%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  justify-self: center;
  display: grid;
}

.fuel-heading-container .fuel-heading h1 {
  justify-self: center;
  align-self: center;
}

.fuel-content-container {
  grid-column: 1/-1;
  display: grid;
  background-color: #e8e8e8;
}

.fuel-content-container .fuel-content {
  width: 80%;
  display: grid;
  justify-self: center;
  margin-bottom: 7rem;
}

@media (max-width: 1000px) {
  .fuel-content-container .fuel-content {
    width: 95%;
  }
}

@media (max-width: 800px) {
  .fuel-content-container .fuel-content {
    width: 100%;
  }
}

.fuel-content-container .fuel-content-img {
  width: 80%;
  height: 40rem;
  justify-self: center;
  display: grid;
  background-color: #f89539;
}

@media (max-width: 800px) {
  .fuel-content-container .fuel-content-img {
    width: 90%;
  }
}

@media (max-width: 650px) {
  .fuel-content-container .fuel-content-img {
    width: 80%;
  }
}

@media (max-width: 550px) {
  .fuel-content-container .fuel-content-img {
    width: 95%;
  }
}

.fuel-content-container .fuel-content-img img {
  height: 40rem;
  width: 60rem;
  justify-self: center;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(5rem);
          transform: translateY(5rem);
}

@media (max-width: 650px) {
  .fuel-content-container .fuel-content-img img {
    height: 35rem;
    width: 50rem;
    -webkit-transform: translateY(7rem);
            transform: translateY(7rem);
  }
}

@media (max-width: 500px) {
  .fuel-content-container .fuel-content-img img {
    height: 90%;
    width: 90%;
    -webkit-transform: translateY(7rem);
            transform: translateY(7rem);
  }
}

.fuel-end-container {
  grid-column: 1/-1;
  display: grid;
  background-color: #e8e8e8;
}

.fuel-end-container .fuel-end {
  width: 80%;
  justify-self: center;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

@media (max-width: 550px) {
  .fuel-end-container .fuel-end {
    width: 95%;
  }
}

.fuel-end-container .fuel-end p {
  padding: 1.5rem 3rem;
  background-color: #d3d3d3;
  -webkit-transform: translateY(-4rem);
          transform: translateY(-4rem);
}

.contact-heading-container {
  background-color: #e8e8e8;
  grid-column: 1/-1;
  display: grid;
  height: 10rem;
}

.contact-heading-container .contact-heading {
  justify-self: center;
  width: 80%;
  display: grid;
  background-color: #e8e8e8;
}

.contact-heading-container .contact-heading h1 {
  color: #f89539;
  justify-self: center;
  align-self: center;
}

.contact-form-container {
  background-color: #e8e8e8;
  grid-column: 1/-1;
  display: grid;
}

.contact-form-container h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.contact-form-container p {
  width: 80%;
  justify-self: center;
  margin-bottom: 2rem;
}

.contact-form-container .form {
  background-color: #b8b8b8;
  position: relative;
}

.contact-form-container i {
  position: absolute;
  bottom: 20rem;
  right: 6rem;
  font-size: 10rem;
  color: #de6f08;
}

@media (max-width: 500px) {
  .contact-form-container i {
    font-size: 7rem;
    right: 4rem;
  }
}

.contact-divider {
  height: 3rem;
  background-color: #f8f8f8;
}

.map-opening-container {
  grid-column: 1/-1;
  display: grid;
  background-color: #de6f08;
}

.map-opening-container .map-opening {
  justify-self: center;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #2f4f4f;
}

@media (max-width: 1000px) {
  .map-opening-container .map-opening {
    grid-template-columns: 1fr;
  }
}

.map-opening-container .map-opening-heading {
  grid-column: 1/-1;
  justify-self: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.map-opening-container .map-opening-heading h2 {
  margin: 1rem 0;
  text-align: center;
}

.map-opening-container .map-opening-heading p {
  text-align: center;
}

.map-opening-container .map-opening .map {
  height: 40rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  margin-bottom: 2rem;
}

.map-opening-container .map-opening .opening {
  margin-left: 7rem;
  margin-bottom: 2rem;
}

@media (max-width: 1000px) {
  .map-opening-container .map-opening .opening {
    justify-self: center;
  }
}

.map-opening-container .map-opening .opening table {
  width: 80%;
  color: #2f4f4f;
  font-weight: bold;
}

@media (max-width: 1000px) {
  .map-opening-container .map-opening .opening table {
    width: 100%;
  }
}

.map-opening-container .map-opening .opening table tr {
  height: 3rem;
}

.map-opening-container .map-opening .opening table tr td {
  width: 60%;
}

@media (max-width: 1000px) {
  .map-opening-container .map-opening .opening table tr td {
    width: 70%;
  }
}

.map-opening-container .map-opening .opening p {
  margin-top: 1rem;
}

.mail-message {
  border: 1px solid #f89539;
  font-weight: 900;
  padding: 1.5rem 3rem;
}

